@model Tuxboard.Core.Domain.Entities.Dashboard

<section class="dashboard" id="@Model.DashboardId">
    @foreach (var tab in Model.Tabs)
    {
        foreach (var layout in tab.Layouts)
        {
            @await Component.InvokeAsync("LayoutTemplate", layout)

        }
    }
</section>
