@model Tuxboard.Core.Domain.Entities.Layout

    <div class="dashboard-tab" data-id="@Model.TabId" data-active="true">

        @foreach (var row in Model.LayoutRows.OrderBy(e => e.RowIndex))
        {
            <div class="row-template" data-id="@row.LayoutRowId">

                @foreach (var col in row.GetColumnLayout())
                {
                    <div class="column @col.ColumnClass" data-column="@col.Index.ToString()">

                        @foreach (var wp in row.WidgetPlacements.Where(y => y.ColumnIndex == col.Index).OrderBy(e => e.WidgetIndex))
                        {
                            <vc:widget-template placement="wp"></vc:widget-template>
                        }
                    </div>
                }
                <div class="clearfix"></div>
            </div>
        }
        <div class="clearfix"></div>
</div>