/* Debugging CSS */
// * *:hover { border:2px solid #89A81E }                   /* Solid Green */
// * * *:hover { border:2px solid #F34607 }                 /* Solid Orange */
// * * * *:hover { border:2px solid #5984C3 }               /* Solid Blue */
// * * * * *:hover { border:2px solid #CD1821 }             /* Solid Red */
// * * * * * *:hover { border:2px dotted #89A81E }          /* Dotted Green */
// * * * * * * *:hover { border:2px dotted #F34607 }        /* Dotted Orange */
// * * * * * * * *:hover { border:2px dotted #5984C3 }      /* Dotted Blue */
// * * * * * * * * *:hover { border:2px dotted #CD1821 }    /* Dotted Red */

/* General/utility styles */
@import "../theme/default.scss";

// Visuals for screenshot
/*

.tuxbar         { border: 1px solid #F00 }
.dashboard      { border: 1px solid #00F }
.dashboard-tab  { border: 1px solid #0F0; margin: 10px }
.row-template   { border: 1px solid #F0F; margin: 10px }
.column         { border: 1px solid #000; }
.widget         { border: 1px solid #999; margin: 10px }
.card-header    { border: 1px solid #ff6a00 }
.card-tools     { border: 1px solid #00ffff }

*/



/* Dashboard essentials */
.outline {
    outline: 1px solid #CCC;
}

[draggable] {
    -moz-user-select: none;     /* old Firefox */
    -khtml-user-select: none;   /* Konquerer HTML */
    -webkit-user-select: none;  /* Safari */
    user-select: none;          /* Chrome, Opera, and Firefox */
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

/* Common Dialog/Widget */
.overlay {
    background: $overlay-bg;
    color: $overlay-text;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 5000;
    text-align: center;
    opacity: .80;

    i {
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}


