/* 
    Widget Dialog
*/

/* Change active background color on selected group*/
.nav.widget-tabs {
    display: inherit;

    .nav-item {
        padding: .1em;

        .active {
            background: $widgetDialog-pill-bg;
            color: $widgetDialog-pill-text;
        }
    }
}

.widget-list {
    max-height: 400px;
    overflow-y: auto;

    .tab-pane {

        .widget-item {
            margin-bottom: 5px;
            margin-right: 5px;

            i {
                display: none;
            }
        }

        .widget-item.selected {
            background: $widgetDialog-selected;

            i {
                display: block;
            }
        }
    }
}