<div class="btn-toolbar tuxbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <button id="layout-button" class="btn btn-secondary btn-light" type="button" title="Change Layout" data-target="#layout-dialog">
            <i class="fas fa-columns"></i>
        </button>
        <button id="widget-button" class="btn btn-secondary btn-light" type="button" title="Add Widget" data-target="#widget-dialog">
            <i class="fas fa-plus-square"></i>
        </button>
        <div class="mx-3 navbar-text" id="tuxbar-status"></div>
    </div>
</div>
