<div class="modal" id="widget-dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form method="post">
                @Html.AntiForgeryToken()
                <div class="overlay w-100 h-100">
                    <div class="h-100 justify-content-center">
                        <i class="fas fa-spinner fa-spin fa-2x"></i>
                    </div>
                </div>

                <div class="modal-header">
                    <h5 class="modal-title">Add Widget</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary disabled add-widget" disabled>Add Widget</button>
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>