@model Tuxboard.Core.Infrastructure.ViewModels.DashboardViewModel
@{
    //ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<vc:tuxbar></vc:tuxbar>
<vc:tuxboard id="myDashboard" model="Model.Dashboard"></vc:tuxboard>

<partial name="WidgetDialogFrame" />

<partial name="ChangeLayoutFrame" />
