@model Tuxboard.Core.Infrastructure.ViewModels.LayoutDialogViewModel

<div class="row">
    <!-- Toolbar -->
    <div class="offset-1 col-10">
        <div class="btn-group btn-group-sm my-2" role="group" aria-label="Button group with nested dropdown">

            <div class="btn-group" role="group">
                <button id="btnLayoutDropdown" type="button" class="btn btn-sm btn-secondary dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add Row
                </button>
                <div class="dropdown-menu layout-types" aria-labelledby="btnLayoutDropdown">
                    @foreach (var layoutType in Model.LayoutTypes)
                    {
                        <a class="dropdown-item" href="#" data-id="@layoutType.LayoutTypeId">@Html.Raw(layoutType.Title)</a>
                    }
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="offset-1 col-10">
        <div class="layout-columns">
            @await Html.PartialAsync("LayoutColumn", Model)
        </div>
    </div>

</div>
