/* General */
$overlay-bg: #ffffff; /* overlay: bg color */
$overlay-text: #666666; /* overlay: text color */


/* Dashboard */
$column-bg: #FFFFFF;
$column-placeholder: #f0f0f0;
$column-placeholder-border: #000;
$column-placeholder-hover: #CCC;

/* Widgets */


/* Dialogs */
$widgetDialog-pill-bg: lightblue;   /* selected tab: bg color */
$widgetDialog-pill-text: #222;      /* selected tab: text color */
$widgetDialog-selected: #d4edda;    /* selected widget: background color */

$layoutDialog-hover-color: #CCC;    /* column layout: border color */
$layoutDialog-column-bg: #999;      /* column layout: bg color */
$layoutDialog-column-text: #FFF;    /* column layout: text color */
$layoutDialog-column-title-bg: #FFF;/* column title: background */
$layoutDialog-column-title-text: #000; /* column title: text color */
$layoutDialog-column-title-border: #888; /* column title: border color */


